html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 ;
    
}

#wrap {
    width: 60%;
    height: 75%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 20%;
    margin: 0;
    cursor: none;
    background: url(image/getreadyBg.png) no-repeat;
    background-size: 100% 100%;
}

#start {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#start img {
    height: 100%;
    width: 100%;
}

#play,
#setting {
    width: 16%;
    height: 11%;
    display: inline-block;
    position: absolute;
}

#play {
    top: 44%;
    left: 42%;
}

#setting {
    top: 61%;
    left: 42%;
}

.finger {
    width: 7%;
    height: 12%;
    display: inline-block;
    position: absolute;
    background: url(image/finger1.png) no-repeat;
    background-position: -15px -15px;
}

.up {
    background: url(image/finger1.png) no-repeat;
    background-position: -15px -15px;
}

.down {
    background: url(image/finger2.png) no-repeat;
}

#getready {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#getready img {
    height: 100%;
    width: 100%;
}

.ready {
    width: 50%;
    height: 15%;
    display: inline-block;
    position: absolute;
    top: 38%;
    left: 30%;
    background: url(image/ready.png) no-repeat;
}

.go {
    width: 14%;
    height: 15%;
    display: inline-block;
    position: absolute;
    top: 38%;
    left: 42%;
    opacity: 1;
    background: url(image/go.png) no-repeat;
}

#help {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(image/help.png) no-repeat;
    background-size: 100% 100%;
    display: none;
}

#help img {
    position: absolute;
    left: 76%;
    top: 20%;
}

.back {
    display: block;
    height: 12%;
    width: 9%;
    position: absolute;
    top: 0;
    left: 1%;
}

#mycanvas {
    display: none;
}

#mycanvas2 {
    position: absolute;
    top: 0px;
    display: none;
}

#mycanvas3 {
    background: #EEE6E6;
    position: absolute;
    top: 0px;
    display: none;
}

#end {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#end img {
    height: 100%;
    width: 100%;
}

#starNum {
    height: 14%;
    width: auto;
    font-size:70px; 
    color:#00a0c3;
    text-align: center;
    line-height: 60px;
    display: block;
    position: absolute;
    top: 32%;
    left: 55%;
}

#flyTime {
       height: 14%;
    width: auto;
    font-size:70px; 
    text-align: center;
    line-height: 60px;
    display: block;
    position: absolute;
    color:#00a0c3;
    top: 50%;
    left: 51%;
}

#score {
    height:14%;
    width: 8%;
    display: block;
    background: url(image/bronze.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 71%;
    left: 54%;
}

#restart {
    height: 9%;
    width: 24%;
    display: block;
    background: url(image/restart.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 87%;
    left: 40%;
}

#restart2 {
    height: 9%;
    width: 24%;
    display: block;
    position: absolute;
    top: 87%;
    left: 40%;
}
#tip{
    height: 15%;
    width: 80%;
    display: none;
    position: absolute;
    top: 80%;
    left: 15%;
    background: url(image/tip.png) no-repeat;
    background-size: cover;
}
#tipWrap{
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left:0;
    background: #000;
}
#text{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;
    height: 20%;
}
#pic{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 40%;
}
